    #root{
       height:100%;
       width: 100%;
       >div{
           height:100%;
           width: 100%; 
           display: flex;
           flex-direction: column;
           >.mian{
              flex:1;
               overflow-x: hidden;
               >.home{
                   height: 100%;
                   width: 100%;
                   display: flex;
                   flex-direction: column;
                   >.searchorlist{
                       width: 100%;
                       height: 80px;
                       display: flex;
                       flex-direction: column;
                       >.searchorlisttop{
                          height: 40px;
                          width: 100%;
                          
                           background: deeppink;
                            box-sizing: border-box;
                          display: flex;
//                        justify-content: space-between;
                         
                           >div{
                               
                               display: inline-block;
                               flex: 1;
                               line-height: 40px;
                              
                             padding:5px 0px 0px 15px ;
                               >p{
                                 height: 30px;  
                                 width: 100%;
                                   background: #fff;
                                    line-height: 30px;                                   
                                    border-radius:15px;
                                    >i{
                                        font-size: 20px;
                                        display: inline-block;
                                        margin: 0 5px 0 5px;
                                    }
                                    >input{
                                        width: 230px;
                                        height: 20px;
                                        border: 0;
                                       
                                    }
                               }
                             
                           }
                           >i{
                               height: 40px;
                               display: inline-block;
                               line-height: 40px;
                               text-align: center;
                               width: 40px;
                               font-size: 22px;
                               color: #fff;
                           }
                       }
                       >.searchorlistbuttom{
               background: #fff;
                           
                           flex: 1;
//                          height: 40px;
//                          width: 100%;
                            overflow: hidden;
                            
                         >ul{
                               display: flex;
                              overflow: hidden;
                              overflow-x: scroll;
                               width: 100%;
                               height: 100%;
                          
                           >li{
                                white-space:nowrap;/*禁止文字自动换行*/
                              line-height: 40px;
//                            padding: 0 10px 0 10px;
                              margin-left: 10px;
                               padding-right: 10px;
                           }
                         }
                       }
                      
                      
                       
                   }
                   
                    >.com{
              
                        
                        flex: 1;
                        overflow-x: hidden;
                            >.datahome{
               background: #fff;
                                
                                width: 100%;
                                height: 100%;
                           >.datahome1{
               background: #fff;
                               
                              height: 128px;
                              width: 100%;
                              img{
                                  height: 100%;
                                  width: 100%;
                              }
                           }
                           >.datahome2{
               background: #fff;
                               
                               height: 90px;
                               width: 100%;
                               >ul{
                                   width: 100%;
                                   height: 100%;
                                   display: flex;
                                 
                                   padding-top: 20px;
                                   >li{
                                    flex: 1;
                                    text-align: center; 
                                    i{
                                        font-size: 26px;
                                        color: deeppink;
                                    }
                                   }
                               }
                           }
                           
                             >.datahome3{
                           height: 100px;
                           width: 100%;
               background: #fff;
                           
                           >img{
                               height: 80px;
                               width: 100%;
                                }
                             }
                           >.datahome4{
                               height: 50px;
                               width: 100%;
               background: #fff;
                               
                           }
                            >.datahome5{
                               height: 100px;
                               width: 100%;
                               margin-bottom: 10px;
               background: #fff;
                               
                               >img{
                                height: 100%;
                                width: 100%;   
                               }
                           }
                            >.datahome6{
                                height: 120px;
                                width: 100%;
                               margin-bottom: 10px;
                                
                            }
                             >.pintuan{
                                height:200px;
                                width: 100%;
                               margin-bottom: 10px;
                                
                            }
                            >.datahome7{
                                height: 200px;
                                width: 100%;
                               margin-bottom: 10px;
                                
                            }
                           >.datahome8{
                                height: 35px;
                                width: 100%;
                              >p{
                                  line-height: 30px;
                                  text-align: center;
                                  font-size: 16px;
                              }
                            }
                             >.goods1{
                                height: 240px;
                                width: 100%;
                               margin-bottom: 10px;                         
                            }
                     
                         }
                       }
                 
               }
               
             
                >.list{
               height: 100%;
               width: 100%;
               display: flex;
               flex-direction: column;
               background: #fff;
               >ul{
                   height: 40px;
                   width: 100%;
                  
                   text-align: center;
                   >li{
                       color: #000000;
                       line-height: 40px;
                       display: inline-block;
                       margin: 0 10px;
                       font-size: 14px;
                   }
               }
               >.com{
                    flex: 1;
                overflow-x: hidden;
                                
               }
           }
           
           .detail{
     width: 100%;
     height: 100%;
     
 }

           
           
           >.mine{
               height: 100%;
               width: 100%;
                display: flex;
                flex-direction: column;
               background: #fff;
                
               >header{
                   height: 40px;
                   width: 100%;
                   display: flex;
                   line-height: 40px;
                 font-size: 20px;
                   >.hl{
                       width: 70px;
                       >i{
                 font-size: 20px;
                           margin-left: 10px;
                       }
                   }
                   >.hc{
                       flex: 1;
                       text-align: center;
                   }
                   .hr{
                       width: 70px;
                            >i{
                 font-size: 20px;
                           margin-left: 20px;
                       }
                   }
               }
               
               >.mcom{
                   flex: 1;
                   overflow-x: hidden;
                
               }
           }
           
           >.mom{
               width: 100%;
               height: 100%;
               display: flex;
               flex-direction: column;
               background: #fff;
               
               
               >.momcom{
                   flex: 1;
               }
           }
           
           >.cart{
               background: #fff;
               
               width: 100%;
               height: 100%;
               display: flex;
               flex-direction: column;
               >.cartt{
                   width: 100%;
                   height: 40px;
                   display: flex;
                   justify-content: space-between;
                   line-height: 40px;
                   padding: 0 15px;
                   border-bottom: 1px solid #eee;
                   >i{
                       font-size: 22px;
                       
                   }
                   >.goodcart{
                       font-size: 16px;
                   }
               }
                >.cartc{
                   flex: 1;
                   overflow-x: hidden;
               }
                >.cartb{
                    width: 100%;
                   height: 40px;
                   border-top: 1px solid #eee;
                   display: flex;
                   justify-content: space-between;
                   line-height: 40px;
                   padding: 0 15px;
                  div{
                      span{
                          margin-right: 5px;
                      }
                      >.red{
                          color: red;
                      }
                       >.jiesuan{
                       background: #ff397e;
                       display: inline-block;
                       color: #fff;
                       width: 80px;
                       height: 32px;
                       text-align: center;
                       line-height: 32px;
                   }
                  }
               }
           }
           
           
           >.login{
               width: 100%;
               height: 100%;
               padding: 10px;
           }
           
           
           
           
           
           
           
           
           
           }
          
           
       }
    }
